.milan_button{
	margin-top: 11px !important;
}
.inharit_lang{
	right: 12px !important;
	left: auto;
}
.full-width{
    width: 100%; height:auto;
}
.float-none{
	float: none !important;
}
.inharitance_remove_button_color{
	background: #da1f26c2 !important;
	font-size: 15px !important;
}
.inharitance_remove_button_color:hover{
	background: #da1f26 !important;
}
.hoverJ1{
	background: #b6b6b6 !important;
}
.hover1:hover,.hover2:hover,.hover3:hover,.hover4:hover,.hover5:hover,.hover6:hover{
	background: #b6b6b6;
}
.box_design{
	padding: 10px;
}
.tabs_box_hover{
	background: #c0c0c02e;
    padding: 2px;
    box-shadow: 0px -5px 3px -1px #aea7a7;
}
.custom_table{
	border-color: #d3d3d3a1;
}
.custom_top{
	margin-top: 8rem;padding-bottom: 30px;
}
.submit_button{
	background-image: linear-gradient(to right, #375cff , #02a2ff);
    padding: 5px 20px;
    border-radius: 4px;
    font-weight: 500;
    color: #fff;
    position: relative;
    line-height: 24px;
    transition: all 0.5s ease;
    width: 18%;
    border: none;
}
.submit_button:hover{
	color: #fff;
	background-image: linear-gradient(to right , #02a2ff, #375cff);
}
.padding-top{
	padding-top:60px;
}
.website_heading_font{
	font-size: 20px;
    font-weight: 500 !important;
}
.custome_p_career{  margin-top: 28px;}
label{
	font-weight: 500;
}
.margin-top_custom{
	margin-top: -43rem;
}
.custom_icons_color{
	color: #3165ff;
    margin-top: 33px;
    font-size: 18px;
      position: relative;
    -webkit-animation: mymove 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 3s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  from {top: 0px;}
  to {top: 20px;}
}

@keyframes mymove {
  from {top: 0px; bottom: 20px}
  to {top: 20px; bottom: 0px}
}
.custom_about{
	font-family: 'Century Gothic';
    font-weight: bold;
    padding-bottom: 20px;
}
.padding_bottom{
	padding-bottom: 36px;
}
.custom_right_arrow{
	position: relative;
    -webkit-animation: myt 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation: myt 3s;
  animation-iteration-count: infinite;
}

@keyframes myt {
  from {left: 0px;}
  to {left: 10px;}
}
.about_us_img{
	width: 62%;
    height: auto;
    margin-left: 154px;
	clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
	transition: all 0.5s;
	overflow: hidden;
}
.about_us_img:hover{
	transform:scale(1.1);
}
.vehicleBrands_button{
	background: linear-gradient(45deg, #3361ff, #099aff);
    color: #ffffff;
    border: none;
    padding: 14px 18px 15px 18px;
    position: relative;
    left: -11px;
    right: 0px;
    z-index: 1;
}
.vehicleBrands_button:hover{
	color:#ffffff;
	background: linear-gradient(90deg, #099aff, #3361ff);
}
.log_auto_width{
	width: 100%;
}
.box{
    background-image: url(../images/banner_portal_1_opt.png);
    padding: 17px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: #ffffff;
    background-size: cover;
    transition: all 0.3s;
}
.box2{
	background-image: url(../images/banner_portal_2_opt.png);
}
.box p{
	font-size: 18px;
}
.box h1{
	padding: 20px 0px;
    font-size: 30px;
    font-weight: bold;
}
.box button{
	padding: 9px;
    margin-top: 26px;
    position: relative;
    left: 0px;
    border-radius: 3px;
}
.bolder{
	font-weight: 600;
	color: black;
}
.margin-top{
	margin-top: 55px;
}
.rs_color{
	color: #0d94ff;
    font-weight: 600;
}
.text-black{
	color: #000000;
    font-size: 15px;
    font-weight: 600;
}
.custom_top_box{
	margin-top: -241px;
    background: #fbfbfb;
    padding: 16px;
    border-radius: 12px;
}
.custom_color{
	    background: #2d69ff;
	    color:#ffffff;
}
.circle_box{
  height: 40px;
  background:silver;
}