.fullwidth {
    background-image: linear-gradient(to right, #375cff , #02a2ff);
    padding: 45px;
}
.content{
text-align: center;
    width: 90%;
    margin: auto;
    }
    span.quote {
    float: left;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}
span.quote1 {
    float:unset;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
}
span.quote2 {
  float: right;
    font-size: 20px;
    font-weight: 900;
    border: 2px solid white;
    padding: 7px;
    width: 159px;    line-height: 21px;
    letter-spacing: 2px;
}
i.fa.fa-envelope-o {
    padding-right: 11px;
}
i.fa.fa-phone-square {
    color: white;
    font-size: 25px;
}
span.abcd {
    color: white;
}
span.quote2 :hover{
 
  cursor: pointer;
}
.stm-template-car_rental .stm_rent_car_form_wrapper.style_1 .stm_rent_car_form {
    position: relative;
}
.stm-template-car_rental .stm_rent_car_form_wrapper .stm_rent_car_form {
    display: inline-block;
    width: 354px;
    max-width: 100%;
    padding: 35px 30px 32px;
    background-color: #f0c540;
    text-align: left;
}
.rightside{
	width: 75%;

	 background-image: linear-gradient(to right, #375cff , #02a2ff);
	padding:20px;
}
.text-info.pickup {
    float: left;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}.text-info.return {
    font-size: 15px;
    float: left;
   color: #fff;
    line-height: 35px;
}.text-info.return1 {

    color: #fff;
    float: left;
    font-size: 15px;
    line-height: 35px;

}.btn.btn-info.finds {

    background: #001729;
border: none;
font-size: 13px;
padding: 8px;

}
section {
    padding-top: 4rem;
    padding-bottom: 5rem;
   
}.wrap1{
display: flex;
   
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    background-image: linear-gradient(to right, #375cff , #02a2ff);
    color: white;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

.wrap:hover {
      background-image: linear-gradient(to right, #375cff , #02a2ff);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}
    .row.mbr-justify-content-center {
    width: 80%;
    margin:auto;
}